/**
 *
 * @author dongntd267@gmail.com
 *
 */

$breakpoint-mobile: var(--breakpoint-mobile); /* 480px */
$breakpoint-desktop: var(--breakpoint-desktop); /* 1408px */

@mixin mixin-screen-mobile {
    @media only screen and (max-width: #{$breakpoint-mobile}) {
        @content;
    }
}

@mixin mixin-screen-desktop {
    @media only screen and (min-width: #{$breakpoint-desktop}) {
        @content;
    }
}
