/**
 *
 * @author dongntd267@gmail.com
 *
 */

@import 'tailwindcss';
@import '@fontsource/roboto';

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant hover (&:hover);

@theme {
    --breakpoint-xs: 30rem; /* 480px */
    --breakpoint-mobile: 30rem; /* 480px */
    --breakpoint-tablet: 40rem; /* 640px */
    --breakpoint-laptop: 64rem; /* 1024px */
    --breakpoint-desktop: 88rem; /* 1408px */
}

@theme inline {
    --color-tw-primary: var(--color-custom-primary);
    --color-tw-danger: var(--color-custom-danger);
    --color-tw-warning: var(--color-custom-warning);
    --color-tw-success: var(--color-custom-success);
    --color-tw-info: var(--color-custom-info);
}

@layer base {
    :root {
        --color-custom-primary: var(--color-blue-800);
        --color-custom-danger: var(--color-red-500);
        --color-custom-warning: var(--color-amber-500);
        --color-custom-success: var(--color-green-500);
        --color-custom-info: var(--color-blue-500);

        --app-size-header-height: 64px;
    }
    /* Theme dark */
    [data-theme='dark'],
    .dark {
        --color-custom-primary: var(--color-blue-400);
    }

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        overscroll-behavior: none;
        scroll-behavior: smooth;
    }
    html {
        overflow: hidden auto;
        overscroll-behavior: none;
        scroll-behavior: smooth;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        font-size: 16px; /* 1rem */
    }
    :root {
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
        user-select: none;
    }
    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    }
}

@layer utilities {
    /* Theme light */
    .scrollbar-thin {
        scrollbar-width: thin;
    }
    .scrollbar-hidden {
        scrollbar-width: none; /* Firefox */
    }
    .scrollbar-hidden::-webkit-scrollbar-track {
        display: none; /* Chrome, Edge, Safari */
    }
    .scrollbar-custom::-webkit-scrollbar-track {
        background: var(--color-gray-200);
        border-radius: calc(var(--spacing) * 2.5);
    }
    .scrollbar-custom::-webkit-scrollbar-thumb {
        background: var(--color-gray-500);
        border-radius: calc(var(--spacing) * 2.5);
    }
    .scrollbar-custom::-webkit-scrollbar-thumb:hover {
        background: var(--color-gray-600);
    }
    .scrollbar-custom::-webkit-scrollbar-thumb:active {
        background: var(--color-gray-600);
    }

    /* Theme dark */
    [data-theme='dark'],
    .dark {
        .scrollbar-custom::-webkit-scrollbar-track {
            background: var(--color-gray-800);
        }
        .scrollbar-custom::-webkit-scrollbar-thumb {
            background: var(--color-gray-600);
        }
        .scrollbar-custom::-webkit-scrollbar-thumb:hover {
            background: var(--color-gray-400);
        }
    }
}
